@use "../presets" as *;
@use "../mixins" as *;

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: $font-size;
  font-family: $font-main;
  overflow-y: scroll;
}

body {
  color: $color-gray;
  background-color: $color-white;
}


a {
  color: $color-white;
  text-decoration: none;
}