@use "../../presets" as *;
@use "../../mixins" as *;


.header__navbar {



  &--list {
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, max-content));
    justify-content: end;
    gap: 17px;
    font-weight: 400;
    margin-right: -10px;

  }

  &--item {

  }

  &--link {
    font-size: 1.125rem;
    line-height: 1.25rem;
    letter-spacing: 2px;
    color: $color-white;
    display: block;
    padding: 10px;
    transition: 0.3s;

    &:hover,&:focus {
      color: $color-accent;
    }
  }

}