@use "../../presets" as *;
@use "../../mixins" as *;

.header-menu {

  &__logo {
    margin-top: 20px;
    margin-left: 11px;


  &--link {
    font-weight: 400;
    font-size: 1.5rem;
    color: $color-white;
    text-decoration: none;
    letter-spacing: 0.22em;
    display: block;
  }

  &--span {
    border: solid $color-highlight 3px;
    padding: 12px 0px 13px 3px;
    line-height: 1.758rem;

    &-logo {
      margin-left: 5px;
    }
  }
}
}