@use "../../presets" as *;
@use "../../mixins" as *;
@use "../../common" as *;

.section-posts {
  @extend %container;
}

.posts__title {
  font-size: 40px;
  letter-spacing: 4px;
  line-height: 48px;
  color: $color-primary;
  font-weight: 700;
  font-family: $font-header;
  margin-top: 102px;
}

.posts__box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "gr1 gr1 gr2 gr3"
    "gr4 gr5 gr6 gr6";
  margin-top: 56px;
}

.group-1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "p1"
    "t1";
  grid-area: gr1;
  height: 550px;
  overflow: hidden;
  transition: 0.5s;
  background-color: #f2f2f2;
  position: relative;


  &__link {
    @include abs-position;
  }

  &__image-block {
    grid-area: p1;
    @include posts__image-block;
  }

  &__image {
    @include posts__image;
  }

  &__title--item {
    @include posts__title--item;
    margin-top: 71px;
    margin-left: 2px;
  }

  &__description {
    @include posts__description;
    grid-area: t1;
    width: 567px;
    margin-top: 22px;
    margin-left: 36px;
  }

  &:hover &__image {
    transform: scale(1.1);
  }

  &:hover &__title--item {
    color: $color-primary;
  }

  &:hover &__description {
    color: $color-primary;
  }

  &:hover {
    background-color: #d8d8d8;
  }
}

.group-2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "p2"
    "t2";
  grid-area: gr2;
  height: 550px;
  background-color: #EEEEEE;
  transition: 0.5s;
  position: relative;


  &__link {
    @include abs-position;
  }

  &__image-block {
    grid-area: p2;
    @include posts__image-block;
  }

  &__image {
    @include posts__image;
  }

  &__title--item {
    @include posts__title--item;
    margin-top: 48px;
    margin-left: 0px;
  }

  &__description {
    @include posts__description;
    width: 275px;
    height: 68px;
    margin-top: 16px;
    margin-left: 16px;
  }

  &:hover &__image {
    transform: scale(1.1);
  }

  &:hover &__title--item {
    color: $color-primary;
  }

  &:hover &__description {
    color: $color-primary;
  }

  &:hover {
    background-color: #d8d8d8;
  }
}

.group-3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "p3"
    "t3";
  grid-area: gr3;
  height: 550px;
  background-color: #EEEEEE;
  transition: 0.5s;
  position: relative;

  &__link {
    @include abs-position;
  }

  &__image-block {
    grid-area: p3;
    @include posts__image-block;
  }

  &__image {
    @include posts__image;
  }

  &__title--item {
    @include posts__title--item;
    margin-top: 48px;
    margin-left: 18px;
    letter-spacing: 1.4px;
  }

  &__description {
    @include posts__description;
    width: 275px;
    grid-area: t3;
    margin-top: 19px;
    margin-left: 16px;
  }

  &:hover &__image {
    transform: scale(1.1);
  }

  &:hover &__title--item {
    color: $color-primary;
  }

  &:hover &__description {
    color: $color-primary;
  }

  &:hover {
    background-color: #d8d8d8;
  }
}

.group-4 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "p4"
    "t4";
  grid-area: gr4;
  height: 550px;
  background-color: #EEEEEE;
  transition: 0.5s;
  position: relative;

  &__link {
    @include abs-position;
  }

  &__image-block {
    grid-area: p4;
    @include posts__image-block;
  }

  &__image {
    @include posts__image;
  }

  &__title--item {
    @include posts__title--item;
    width: 275px;
    margin-top: 48px;
    margin-left: 17px;
  }

  &__description {
    @include posts__description;
    width: 275px;
    grid-area: t3;
    height: 68px;
    margin-top: 16px;
    margin-left: 16px;
  }

  &:hover &__image {
    transform: scale(1.1);
  }

  &:hover &__title--item {
    color: $color-primary;
  }

  &:hover &__description {
    color: $color-primary;
  }

  &:hover {
    background-color: #d8d8d8;
  }
}

.group-5 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "p5"
    "t5";
  grid-area: gr5;
  height: 550px;
  background-color: #EEEEEE;
  transition: 0.5s;
  position: relative;

  &__link {
    @include abs-position;
  }

  &__image-block {
    grid-area: p5;
    @include posts__image-block;
  }

  &__image {
    @include posts__image;
  }

  &__title--item {
    @include posts__title--item;
    width: 275px;
    margin-top: 48px;
    margin-left: 17px;
    letter-spacing: 1.43px;
  }

  &__description {
    @include posts__description;
    width: 275px;
    grid-area: t5;
    margin-top: 19px;
    margin-left: 16px;
  }

  &:hover &__image {
    transform: scale(1.1);
  }

  &:hover &__title--item {
    color: $color-primary;
  }

  &:hover &__description {
    color: $color-primary;
  }

  &:hover {
    background-color: #d8d8d8;
  }
}

.group-6 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "p6"
    "t6";
  grid-area: gr6;
  height: 550px;
  background-color: #EEEEEE;
  transition: 0.5s;
  position: relative;

  &__link {
    @include abs-position;
  }

  &__image-block {
    grid-area: p6;
    @include posts__image-block;
  }

  &__image {
    @include posts__image;
  }

  &__title--item {
    @include posts__title--item;
    margin-top: 85px;
  }

  &__description {
    @include posts__description;
    grid-area: t6;
    width: 567px;
    height: 68px;
    margin-top: 23px;
    margin-left: 36px;
  }

  &:hover &__image {
    transform: scale(1.1);
  }

  &:hover &__title--item {
    color: $color-primary;
  }

  &:hover &__description {
    color: $color-primary;
  }

  &:hover {
    background-color: #d8d8d8;
  }
}

.posts-btn__box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: 2px;
}

.posts__btn--item {
  padding-left: 2px;
  letter-spacing: 1.8px;
}


