@use "../../presets" as *;
@use "../../mixins" as *;
@use "../../common" as *;

.section-form {
  background-color: $color-primary;
}

.form {
  &__container {
    @extend %container;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    gap: 0 20px;
    grid-template-areas:
    "form__name form__email form__subscribe";
    padding-top: 30px;
    padding-bottom: 30px;

    @include lg {
      padding-top: 20px;
      padding-bottom: 20px;
    }


  }

  &__name {
    grid-area: form__name;
    max-width: 420px;
    height: 60px;

  }

  &__input {


    &--name {
      display: block;
      width: 100%;
      height: 60px;
      padding-right: 30px;
      padding-left: 30px;
      font-size: 18px;
      font-weight: 400;
      font-family: $font-main;
      letter-spacing: 2px;
      transition: background-color 0.5s, border-color 0.5s, color 0.5s;
      color: $color-white;
      border: 2px solid rgba(255, 255, 255, 0);
      border-bottom-color: rgba(255, 255, 255, 0.50);
      background-color: rgba(255, 255, 255, 0.05);

      @include lg {
        letter-spacing: 1.5px;
        font-size: 16px;
        line-height: 24px;
        padding-left: 20px;
        padding-bottom: 4px;
      }


      &:focus, &:hover {
        border-color: rgba(255, 255, 255, 0.15);
        border-bottom-color: $color-white;
        background-color: rgba(255, 255, 255, 0.15);
        color: $color-white;
        outline: none;
      }
    }

    &--email {
      display: block;
      width: 100%;
      height: 60px;
      padding-right: 30px;
      padding-left: 30px;
      font-size: 18px;
      font-weight: 400;
      font-family: $font-main;
      letter-spacing: 2px;
      transition: background-color 0.5s, border-color 0.5s, color 0.5s;
      color: $color-white;
      border: 2px solid rgba(255, 255, 255, 0);
      border-bottom-color: rgba(255, 255, 255, 0.50);
      background-color: rgba(255, 255, 255, 0.05);

      @include lg {
        padding-bottom: 6px;
        padding-left: 22px;
        letter-spacing: 1.5px;
        font-size: 16px;
        line-height: 24px;
      }
      &:focus, &:hover {
        border-color: rgba(255, 255, 255, 0.15);
        border-bottom-color: $color-white;
        background-color: rgba(255, 255, 255, 0.15);
        color: $color-white;
        outline: none;
      }
    }

    &:focus, &:hover {
      border-color: rgba(255, 255, 255, 0.15);
      border-bottom-color: $color-white;
      background-color: rgba(255, 255, 255, 0.15);
      color: $color-white;
      outline: none;
    }
  }

  &__input--name:hover::placeholder, &__input--email:hover::placeholder,
  &__input--name:focus::placeholder, &__input--email:focus::placeholder {
    color: #8c9bab;
  }

  &__email {
    grid-area: form__email;
    max-width: 420px;
    height: 60px;

  }

  &__subscribe {
    grid-area: form__subscribe;
    max-width: 420px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
