@use "../../presets" as *;
@use "../../mixins" as *;
@use "../../common" as *;

.grid-container {
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-flow: row;
  gap: 10px 10px;
  grid-template-areas:
    "html html css markup"
    "web-design quality-assurance quality-assurance codding"
    "adaptability php seo codding";

  @include lg {

    grid-template-columns: 1fr minmax(auto, 310px) 1fr;
    grid-template-rows: minmax(auto, 350px) 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "html html css"
      "markup web-design web-design"
      "quality-assurance quality-assurance codding"
      "adaptability php codding"
      "adaptability seo seo";
  }

  @include md {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "html  css"
      "markup css"
      "web-design web-design"
      "quality-assurance codding"
      "quality-assurance adaptability "
      "php seo";
     }

  @include sm {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "html"
      "css"
      "markup"
      "web-design"
      "quality-assurance"
      "codding"
      "adaptability"
      "php"
      "seo";
  }
}

.html {
  grid-area: html;
  @include skills;


  &__image {
    @include skills__image;
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;


  }

  &__link {
    @include skills__link;
    margin-top: 3px;
    margin-left: 4px;

    @include lg {
      margin-top: 1px;
    }
  }

  &__overlay {
    @include skills__overlay;
  }
}

.html:hover .html__overlay {
  opacity: 95%;
}

.html:hover .html__image {
  scale: 1.2;
}

.html:hover .html__link {
  color: $color-accent;
}

.css {
  grid-area: css;
  @include skills;

  &__image {
    @include skills__image;
  }

  &__title {
    display: flex;
    justify-content: center;
  }

  &__link {
    @include skills__link;
    margin-top: 2px;


    @include lg {
      margin-top: 1px;
      margin-left: 4px;
    }

  }

  &__overlay {
    @include skills__overlay;
  }
}

.css:hover .css__overlay {
  opacity: 95%;
}

.css:hover .css__image {
  scale: 1.2;
}

.css:hover .css__link {
  color: $color-accent;
}

.markup {
  grid-area: markup;
  @include skills;

  &__image {
    @include skills__image;
  }

  &__title {
    display: flex;
    justify-content: center;
  }

  &__link {
    @include skills__link;
    margin-top: 1px;
    margin-left: 2px;


    @include lg {
      margin-top: 0px;
      margin-left: 4px;
      letter-spacing: 2.5px;
    }
  }

  &__overlay {
    @include skills__overlay;
  }
}

.markup:hover .markup__overlay {
  opacity: 95%;
}

.markup:hover .markup__image {
  scale: 1.2;
}

.markup:hover .markup__link {
  color: $color-accent;
}

.web-design {
  grid-area: web-design;
  @include skills;

  &__image {
    @include skills__image;
  }

  &__title {
    display: flex;
    justify-content: center;
  }

  &__link {
    @include skills__link;
    letter-spacing: 2.7px;
    margin-top: 2px;
    margin-left: 5px;


    @include lg {
      margin-top: -1px;
      margin-left: 6px;
      letter-spacing: 2.5px;
    }

  }

  &__overlay {
    @include skills__overlay;
  }
}

.web-design:hover .web-design__overlay {
  opacity: 95%;
}

.web-design:hover .web-design__image {
  scale: 1.2;
}

.web-design:hover .web-design__link {
  color: $color-accent;
}

.quality-assurance {
  grid-area: quality-assurance;
  @include skills;

  &__image {
    @include skills__image;
  }

  &__title {
    display: flex;
    justify-content: center;
  }

  &__link {
    @include skills__link;
    letter-spacing: 2.6px;
    margin-top: 2px;
    margin-left: 1px;

    @include lg {
      margin-top: -1px;
      margin-left: 3px;
      letter-spacing: 2.4px;
    }
  }

  &__overlay {
    @include skills__overlay;
  }
}

.quality-assurance:hover .quality-assurance__overlay {
  opacity: 95%;
}

.quality-assurance:hover .quality-assurance__image {
  scale: 1.2;
}

.quality-assurance:hover .quality-assurance__link {
  color: $color-accent;
}

.codding {
  grid-area: codding;
  @include skills;

  &__image {
    @include skills__image;
  }

  &__title {
    display: flex;
    justify-content: center;
  }

  &__link {
    @include skills__link;
    letter-spacing: 2.6px;
    margin-top: 2px;

    @include lg {
      margin-top: 0px;
      margin-left: 3px;
      letter-spacing: 2.4px;
    }
  }

  &__overlay {
    @include skills__overlay;
  }
}

.codding:hover .codding__overlay {
  opacity: 95%;
}

.codding:hover .codding__image {
  scale: 1.2;
}

.codding:hover .codding__link {
  color: $color-accent;
}

.adaptability {
  grid-area: adaptability;
  @include skills;

  &__image {
    @include skills__image;
  }

  &__title {
    display: flex;
    justify-content: center;
  }

  &__link {
    @include skills__link;
    letter-spacing: 2.6px;
    margin-left: 5px;
    margin-top: 2px;

    @include lg {
      margin-top: 0px;
      margin-left: 3px;
      letter-spacing: 2.4px;
    }
  }

  &__overlay {
    @include skills__overlay;
  }
}

.adaptability:hover .adaptability__overlay {
  opacity: 95%;
}

.adaptability:hover .adaptability__image {
  scale: 1.2;
}

.adaptability:hover .adaptability__link {
  color: $color-accent
}

.php {
  grid-area: php;
  @include skills;

  &__image {
    @include skills__image;
  }

  &__title {
    display: flex;
    justify-content: center;
  }

  &__link {
    @include skills__link;
    margin-top: 2px;
    margin-left: 6px;

    @include lg {
      margin-top: 1px;
      margin-left: 4px;
      letter-spacing: 3.3px;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $color-primary;
    opacity: 80%;
    transition: 0.5s;
  }
}

.php:hover .php__overlay {
  opacity: 95%;
}

.php:hover .php__image {
  scale: 1.2;
}

.php:hover .php__link {
  color: $color-accent
}

.seo {
  grid-area: seo;
  @include skills;
  min-height: 350px;

  &__image {
    @include skills__image;
  }

  &__title {
    display: flex;
    justify-content: center;
  }

  &__link {
    @include skills__link;
    margin-top: 2px;

    @include lg {
      margin-top: 1px;
      margin-left: 5px;
      letter-spacing: 2.2px;
    }
  }

  &__overlay {
    @include skills__overlay;
  }
}

.seo:hover .seo__overlay {
  opacity: 95%;
}

.seo:hover .seo__image {
  scale: 1.2;
}

.seo:hover .seo__link {
  color: $color-accent;
}

.skills-btn__box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: 2px;



}

.skills__btn--item {
  padding-left: 0;
  letter-spacing: 1.8px;

  @include lg {
    padding-top: 7px;
    letter-spacing: 2px;
    min-height: 64px;
  }
}