@use "../../presets" as *;
@use "../../mixins" as *;

.grid-container {
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  gap: 10px 10px;
  grid-template-areas:
    "html html css markup"
    "web-design quality-assurance quality-assurance codding"
    "adaptability php seo codding";
}

.html {
  grid-area: html;
  position: relative;
  overflow: hidden;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 20px;

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    background-position: 50% 50%;
    transition: 0.5s;
    background-size: cover;
  }

  &__title {
    display: flex;
    justify-content: center;
    margin-top: 2px;
    margin-left: 3px;
  }

  &__link {
    transition: 0.5s;
    z-index: 2;
    padding: 20px;
    transition: color 0.5s;
    letter-spacing: 3px;
  }

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $color-primary;
    opacity: 80%;
    transition: 0.5s;
  }
}

.html:hover .html__overlay {
  opacity: 95%;
}

.html:hover .html__image {
  scale: 1.2;
}

.html:hover .html__link {
  color: $color-accent;
}

.css {
  grid-area: css;
  position: relative;
  overflow: hidden;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 20px;

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    background-position: 50% 50%;
    transition: 0.5s;
    background-size: cover;
  }

  &__title {
    display: flex;
    justify-content: center;
    margin-left: 3px;
    margin-top: 3px;
  }

  &__link {
    transition: 0.5s;
    z-index: 2;
    padding: 20px;
    transition: color 0.5s;
    letter-spacing: 3px;
  }

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $color-primary;
    opacity: 80%;
    transition: 0.5s;
  }
}

.css:hover .css__overlay {
  opacity: 95%;
}

.css:hover .css__image {
  scale: 1.2;
}

.css:hover .css__link {
  color: $color-accent;
}


.markup {
  grid-area: markup;
  position: relative;
  overflow: hidden;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 20px;

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    background-position: 50% 50%;
    transition: 0.5s;
    background-size: cover;
  }

  &__title {
    display: flex;
    justify-content: center;
    margin-top: 3px;
    margin-left: 3px;
  }

  &__link {
    transition: 0.5s;
    z-index: 2;
    padding: 20px;
    transition: color 0.5s;
    letter-spacing: 3px;
  }

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $color-primary;
    opacity: 80%;
    transition: 0.5s;
  }
}

.markup:hover .markup__overlay {
  opacity: 95%;
}

.markup:hover .markup__image {
  scale: 1.2;
}

.markup:hover .markup__link {
  color: $color-accent;
}

.web-design {
  grid-area: web-design;
  position: relative;
  overflow: hidden;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 20px;

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    background-position: 50% 50%;
    transition: 0.5s;
    background-size: cover;
  }

  &__title {
    display: flex;
    justify-content: center;
    margin-top: 3px;
    margin-left: 6px;
  }

  &__link {
    transition: 0.5s;
    z-index: 2;
    padding: 20px;
    transition: color 0.5s;
    letter-spacing: 3px;
  }

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $color-primary;
    opacity: 80%;
    transition: 0.5s;
  }
}

.web-design:hover .web-design__overlay {
  opacity: 95%;
}

.web-design:hover .web-design__image {
  scale: 1.2;
}

.web-design:hover .web-design__link {
  color: $color-accent;
}

.quality-assurance {
  grid-area: quality-assurance;
  position: relative;
  overflow: hidden;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 20px;

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    background-position: 50% 50%;
    transition: 0.5s;
    background-size: cover;
  }

  &__title {
    display: flex;
    justify-content: center;
    margin-top: 1px;
    margin-left: 4px;
  }

  &__link {
    transition: 0.5s;
    z-index: 2;
    padding: 20px;
    transition: color 0.5s;
    letter-spacing: 2.5px;
  }

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $color-primary;
    opacity: 80%;
    transition: 0.5s;
  }
}

.quality-assurance:hover .quality-assurance__overlay {
  opacity: 95%;
}

.quality-assurance:hover .quality-assurance__image {
  scale: 1.2;
}

.quality-assurance:hover .quality-assurance__link {
  color: $color-accent;
}

.codding {
  grid-area: codding;
  position: relative;
  overflow: hidden;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 20px;

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    background-position: 50% 50%;
    transition: 0.5s;
    background-size: cover;
  }

  &__title {
    display: flex;
    justify-content: center;
    margin-top: 3px;
    margin-left: 3px;
  }

  &__link {
    transition: 0.5s;
    z-index: 2;
    padding: 20px;
    transition: color 0.5s;
    letter-spacing: 3px;
  }

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $color-primary;
    opacity: 80%;
    transition: 0.5s;
  }
}

.codding:hover .codding__overlay {
  opacity: 95%;
}

.codding:hover .codding__image {
  scale: 1.2;
}

.codding:hover .codding__link {
  color: $color-accent;
}

.adaptability {
  grid-area: adaptability;
  position: relative;
  overflow: hidden;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 20px;

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    background-position: 50% 50%;
    transition: 0.5s;
    background-size: cover;
  }

  &__title {
    display: flex;
    justify-content: center;
    margin-top: 3px;
    margin-left: 6px;
  }

  &__link {
    transition: 0.5s;
    z-index: 2;
    padding: 20px;
    transition: color 0.5s;
    letter-spacing: 2.5px;
  }

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $color-primary;
    opacity: 80%;
    transition: 0.5s;
  }
}

.adaptability:hover .adaptability__overlay {
  opacity: 95%;
}

.adaptability:hover .adaptability__image {
  scale: 1.2;
}

.adaptability:hover .adaptability__link {
  color: $color-accent
}

.php {
  grid-area: php;
  position: relative;
  overflow: hidden;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 20px;

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    background-position: 50% 50%;
    transition: 0.5s;
    background-size: cover;
  }

  &__title {
    display: flex;
    justify-content: center;
    margin-top: 3px;
    margin-left: 7px;
  }

  &__link {
    transition: 0.5s;
    z-index: 2;
    padding: 20px;
    transition: color 0.5s;
    letter-spacing: 3px;
  }

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $color-primary;
    opacity: 80%;
    transition: 0.5s;
  }
}

.php:hover .php__overlay {
  opacity: 95%;
}

.php:hover .php__image {
  scale: 1.2;
}

.php:hover .php__link {
  color: $color-accent
}

.seo {
  grid-area: seo;
  position: relative;
  overflow: hidden;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 20px;
 min-height: 350px;

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    background-position: 50% 50%;
    transition: 0.5s;
    background-size: cover;
  }

  &__title {
    display: flex;
    justify-content: center;
    margin-top: 3px;
    margin-left: 1px;
  }

  &__link {
    transition: 0.5s;
    z-index: 2;
    padding: 20px;
    transition: color 0.5s;
    letter-spacing: 3px;
  }

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $color-primary;
    opacity: 80%;
    transition: 0.5s;
  }
}

.seo:hover .seo__overlay {
  opacity: 95%;
}

.seo:hover .seo__image {
  scale: 1.2;
}

.seo:hover .seo__link {
  color: $color-accent
}

.section-about {
}

.about-btn__box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: 2px;


.about-btn {
  opacity: 0.800;
  width: 350px;
  height: 60px;
  background-color: #2d3651;
  border: 2px solid #2d3651;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;



  &:hover {
    background-color: #d66926;
    border: 2px solid #2d3651;
  }

  &__link {
    font-size: 18px;
    letter-spacing: 2px;
    color: $color-white;
    font-weight: 400;
    font-family: "Roboto";
  }
}
}